---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    image: {
      url: string;
      alt: string;
    };
    title: string;
    author: string;
    pubDate: string;
    description: string;
    tags: Array<string>;
  };
}

const { frontmatter } = Astro.props;
const { url, alt } = frontmatter.image;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div>
    <div class="imgbox">
      <img class="center-fit" src={url} alt={alt} />
    </div>

    <div class="tags">
      {
        frontmatter.tags.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>

    <p>Written by {frontmatter.author}</p>
    <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
    <slot />
  </div>

  <style>
    .imgbox {
      text-align: center;
    }
    .center-fit {
      max-width: 100%;
      margin: auto;
    }
  </style>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
